QLabel {
	color: #eee;
}
QMainWindow {
	background: #222;
}
QTabBar, QTabWidget {
	background: #222;
	border: none;
}
QTabWidget::pane {
	border: 1px solid #888;
	background: #3b3b3b;
	top: -1px;
}
QTabBar::tab:disabled {
	border-top: 1px solid #222;
	border-right: none;
	border-left: none;
	background: #222;
}
QTabBar::tab {
	background: #171717;
	padding: 5px 10px;
	margin-top: 3px;
	margin-right: 5px;
	height: 2.1em;
	border-left: 1px solid #222;
	border-top: 1px solid #222;
	border-right: 1px solid #222;
	border-bottom: none;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: #777;
}

QTabBar::tab:selected {
	background: #3b3b3b;
	border-top: 1px solid #888;
	border-left: 1px solid #888;
	border-right: 1px solid #888;
	border-bottom: 3px solid #3b3b3b;
	color: #ccc;
}

QTabBar::tab#topbar {
	border: 1px outset #333;
	border-radius: 2px;
	height: 1.2em;
	margin-bottom: 8px;
}

QTabBar::tab#topbar {
	background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
		stop:0 #747474,
		stop:0.3 #616161,
		stop:0.6 #555555,
		stop:1.0 #333333
	);
	color: #eee;
}
QTabBar::tab:selected#topbar {
	background-color: #6cbde8;
	color: #222;
	border: 1px inset #333;
}
TabBar::tab {
	min-width: 25px;
}

QStackedWidget QTabBar::tab {
	margin: 0;
	height: 1em;
}

QStackedWidget#mixer {
	background: qlineargradient(x1:0, y1:0, x2:1, y2:1,
		stop:0 #3b3b3b,
		stop:1 #212325
	);
	border-left: 1px solid #888;
	border-right: 1px solid #888;
	border-bottom: 1px solid #888;
}
#blank_bar {
	background: #3b3b3b;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

PushButton, QRadioButton, QPushButton {
	background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
		stop:0 #747474,
		stop:0.3 #616161,
		stop:0.6 #555555,
		stop:1.0 #333333
	);
	border: 1px outset #222222;
	color: #eee;
}
PushButton:checked, QPushButton:checked {
	background-color: #6cbde8
}
PushButton[name~=".bypass"]:checked {
	background-color: #fb9931
}

QSlider::groove:vertical {
	border: 2px inset #222;
	width: 1px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
	background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #616161, stop:1 #747474);
	margin: 0 2px;
}

QSlider::handle:vertical {
	background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
		stop:0    #e8e9e9,
		stop:0.20 #c1c5c8,
		stop:0.33 #1a1b1f,
		stop:0.35 #5c6063,
		stop:0.45 #404145,
		stop:0.5  #2b3034,
		stop:0.55 #8e8e8e,
		stop:0.79 #c9ced1,
		stop:0.80 #28292b,
		stop:1    #171719
	);
	border: 2px outset #5c5c5c;
	height: 30px;
	margin: 0 -8px; /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
}
/*
QDial {
	background-color: #bb4400
}
#VolSlider::handle:focus:vertical {
	border: 2px solid #f0f;
}
QSlider:focus {
	border: 2px solid #f0f;
	background-color: #f0f
}
*/
QWidget:focus {
	border: 1px solid #ccc;
	color: #eee;
}

QComboBox::down-arrow {
	image: none;
	border: none;
}
QComboBox::drop-down {
	subcontrol-origin: padding;
	subcontrol-position: top right;
	width: 15px;

	border:none;
}

GridLabel {
	padding-left : 1em;
	padding-right: 1em;
}
ToggleButton {
	font-variant: small-caps;
}
NameLabel {
	font-weight: thin;
	margin-bottom: 0;
	font-variant: small-caps;
	font-size: 10px;
}
ValueLabel, Dial {
	font-size: 9px;
	text-align: center;
}
Knob {
	padding: 10px
}

RadioGroup {
	background-color: transparent;
	border: none;
}
VRadioGroup QPushButton {
	margin-bottom: 20px;
	margin-top: 20px;
}
RadioButton::indicator {
	image: none;
}
RadioButton:checked {
	background-color: #6cbde8
}
RadioGroup {
	padding: 20px
}
HRadioGroup ValueLabel {
	padding: 0 10px;
}
